
.blogo{
    width: 200px;
    position: relative;
    top:-10px;
}

.fp-feature-simplecontent{
background: url('/user/images/rt_sienna/back_offerta.jpg?5a6c56da') no-repeat
}

.g-owlcarousel-layout-testimonial {
    /* padding: 4rem 0; */
    padding: 1rem 0;
    font-size: 1em;
}